.main-div-cycling {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: -60px;
}

.title {
    text-align: center;
}

.cycling-intro {
    text-align: center;
    margin: 1rem 2rem;
}

.cycling-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adventure-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-height: auto;
    margin-bottom: 2rem;
}

.event-title {
    margin: 3rem;
    text-align: center;
}

.block-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2D4AE;
    border-style: solid;
    border-width: 3px;
    border-color: #395C36;
    width: 80%;
}

.paragraphs {
    margin: 0 4rem 1rem 4rem;
}

.adventureimage {
    align-items: center;
    max-width: 80%;
    height: auto;
    margin: 1rem;
    border-style: solid;
    border-width: 3px;
    border-color: #395C36;
}

.blog-button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A6432C;
    font-size: 1rem;
    line-height: 2.5rem;
    border-radius: 48px;
    width: fit-content;
    padding: 0 1rem;
    border: rgb(75, 74, 74);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-width: 2px;
    transform: translateY(var(--translate-y,0));
    margin: 2rem;
}

.blog-button-box:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.blog-button-link {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .main-div-cycling{
        margin-top: -5px;
    }

    .adventure-block {
        width: 100%;
    }

    .event-title {
        margin: 2rem;
    }

    .paragraphs {
        margin: 1rem;
    }

    .title {
        margin-left: 3rem;
    }
}