html
body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #F8F5F5;
  margin:0;
  padding:0;
  height: 100%;
}

body {
  padding-bottom: 1.5rem;
}