.main-view {
    display: flex;
    padding-bottom: 2rem;
    margin-top: -110px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.left-side-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 80px;
    width: 60%;
}

.animated-writing {
    font-size: 3.5rem;
    margin-left: 3rem;
    color: #731919;
    height: fit-content;
}

.buttons-flex {
    display: flex;
    flex-wrap: wrap;
}

.contact-button-box {
    margin-left: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A6432C;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 48px;
    width: 100px;
    padding: 1rem;
    border: rgb(75, 74, 74);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-width: 2px;
    transform: translateY(var(--translate-y, 0));
}

.contact-button-box:nth-of-type(2) {
    margin-left: 2rem;
}

.contact-button-box:nth-of-type(3) {
    margin-left: 2rem;
}

.contact-button-box:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.contact-button-link {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.language-boxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 6rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.lang {
    font-size: 3rem;
    margin: 5px;
    color: #A6432C;
}

.contact {
    text-align: center;
    font-size: 3rem;
    margin: 5px;
    color: #fff;
}

.skill-name {
    margin: 5px;
    text-align: center;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.right-side-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-top: 80px;
}

.profile-image {
    margin-right: 2%;
    max-width: 100%;
    height: auto;
}

.code-clan-about {
    margin-left: 6rem;
    margin-right: 7rem;
}

.code-clan-about p {
    line-height: 1.5rem;
}

.timeline {
    margin-left: -20%;
    max-width: 100%;
    height: auto;
}

.cycling-button-box {
    margin-left: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A6432C;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 48px;
    width: 15vw;
    padding: 0 1rem;
    border: rgb(75, 74, 74);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-width: 2px;
    transform: translateY(var(--translate-y, 0));
}

.cycling-link {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.cycling-button-box:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.list-container {
    margin-bottom: 2rem;
}

.list {
    columns: 2;
    column-gap: 3rem;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.sub-list {
    margin-left: 2.5rem;
}

li {
    margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
    .main-view {
        flex-direction: column;
        margin-top: 0;
    }

    .left-side {
        width: 100%;
        height: fit-content;
        align-items: center;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .left-side-about {
        width: 100%;
        height: fit-content;
        align-items: center;
        margin-left: 0;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .animated-writing {
        font-size: 3rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .cycling-button-box {
        margin-left: 0;
        margin-bottom: 2rem;
        width: 50%;
    }

    .buttons-flex {
        justify-content: center;
    }

    .language-boxes {
        margin-top: 1rem;
        margin-left: 0;
        justify-content: center;
        width: 80%;
    }

    .skill {
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .right-side {
        width: 100%;
        height: fit-content;
        align-items: center;
        margin-left: 0;
        margin-bottom: 1rem;
        ;
    }

    .right-side-about {
        width: 100%;
        height: fit-content;
        align-items: center;
        margin-left: 0;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .timeline {
        margin-left: -5%;
    }

    .profile-image {
        margin-right: 0;
    }

    .code-clan-about {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .contact-button-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #A6432C;
        font-size: 0.5rem;
        line-height: 1rem;
        border-radius: 30px;
        width: 60px;
        padding: 0.5rem;
        border: rgb(75, 74, 74);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
        border-width: 2px;
        transform: translateY(var(--translate-y, 0));
        margin-left: 0;
        margin-bottom: 1rem;
    }


.cycling-button-box {
    height: fit-content;
}

    .cycling-link {
        margin: 1rem;
    }

    .list {
        column-gap: 2rem;
    }
}