.main-view {
    display: flex;
    height: 100vh;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.animated-writing {
    font-size: 3.5rem;
    margin: 3rem 8rem 3rem 3rem;
    color: #731919;
    height: fit-content;
}

.contact-button-box {
    margin: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A6432C;
    font-size: 1rem;
    line-height: 2.5rem;
    border-radius: 48px;
    width: 6rem;
    padding: 0 1rem;
    border: rgb(75, 74, 74);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-width: 2px;
    transform: translateY(var(--translate-y,0));
}

.contact-button-box:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.contact-button-link {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff;
}

.language-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 6rem; 
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.lang {
    font-size: 3rem;
    margin: 5px;
    color: #A6432C;
}

.skill-name {
    margin: 5px;
}

.right-side {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 9rem;
    height: 500px;
    background-color: #7B5C6E;
}

.profileimage {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 400px;
    border-radius: 48px;
}

.blob {
    position: relative;
    width: 120%;
    top: -60px;
    left: -110px;
  }