.projects-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
}

.project-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    width: 80%;
    background-color: #F2D4AE;
    border-style: solid;
    border-width: 3px;
    border-color: #395C36;
}

.image-half {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.screenshot {
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #395C36;
}

.text-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.tech-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.language {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.one-lang {
    margin: 5px;
    width: 3rem;

}

.summary {
    padding: 1rem 0 1rem 2rem;

}

.flex {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 2rem;
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A6432C;
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 48px;
    margin: 1rem;
    padding: 0 1rem;
    border: rgb(75, 74, 74);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-width: 2px;
    transform: translateY(var(--translate-y,0));
}

.button-box:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.button-link {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .projects-container{
        margin-top: -5px;
    }

    .project-block{
        flex-direction: column;
    }

    .project-list{
        margin-top: 0;
    }

    .image-half{
        width: 100%
    }

    .text-half{
        width: 100%;
        margin-top: 1rem;
    }

    .summary {
        padding-left: 0;
    }

    .button-link {
        margin: 0;
    }

    .flex {
        padding: 0;
    }

}