.cycling-page-body,
.blog-page-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding-top: 16vh;
}

.title-section-cycling{
    margin-top: 5rem;
}

.cycling-intro{
    text-align: center;
    margin-top: 2rem
}

.blocks-section{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.adventure-block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding: 3rem;
    width: 60%;
    background-color: rgb(8, 126, 139, 0.4);
    border: 3px solid var(--primary-dark);
    border-radius: 26px;
}

.adventure-image{
    align-items: center;
    max-width: 80%;
    height: auto;
    margin: 1rem;
    border: 3px solid var(--primary-dark);
    border-radius: 26px;
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-dark);
    font-size: 1rem;
    height: 2.5rem;
    border-radius: 26px;
    margin: 1rem;
    padding: 0 1rem;
    border: var(--primary-dark);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-width: 2px;
    transform: translateY(var(--translate-y,0));
}

.button-box:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.button-link {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff;
}


/* blogs */
.hero-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.cycling-hero-image{
    width: 50%;
    border: 3px solid var(--primary-dark);
    border-radius: 26px;
}

.accordian-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0
}

@media (max-width: 992px) {
    .title-section-cycling{
        height: 8rem;
        margin-top: 2rem;
    }

    .cycling-intro{
        margin: 1rem 2rem;
    }

    .adventure-block{
        margin-bottom: 2rem;
        padding: 2rem;
        width: 90%;
    }

    .adventure-image{
        max-width: 100%;
    }
}